.b-header
  height 55px

  &_home
    position absolute
    top 20%
    margin: 0 auto
    text-align center
    width 98%

    @media (max-width: 700px)
      position static
      padding-top 18%

    @media (max-height: 350px)
      padding-top 20px
      height 100%