.nav
  display inline-block
  padding: 0 0 3pt 10pt
  vertical-align: bottom

  &_home
    font-size 2em
    padding 0

  &__item
    display inline-block
    margin 1pt 5pt 1pt 1pt

  &__link
    padding 0 4.5pt

    &_active
      text-decoration none
      border-bottom 0 none
      color #000

  &_header
    display inline-block
    padding 0 0 3pt 10pt
    vertical-align bottom