doctype 5
head
  include includes/head

body.b-page
  .b-index-page
    .b-index-page-content
      .b-index-page-content-logo
        .b-index-page-content-logo_view

      nav.b-index-page-content-nav
        a.b-index-page-content-nav-link(href='/projects') Projects
        a.b-index-page-content-nav-link(href='/principles') Principles
        a.b-index-page-content-nav-link(href='/contacts') Contacts


    .b-index-page-footer
      |2013 © WorldFly, Photo by 
      a.b-index-page-footer-link(href='http://letchikleha.livejournal.com') letchikleha
      
  include includes/i-stat
