extends errorlayout


block content
  .b-content-error
    |Page not found

  .b-content-descr
    p.b-content-descr_item The requested resource was not found.
    p.b-content-descr_item 
      |You can skip 
      a(href='/') to the main page
      |.
    p.b-content-descr_item
      |If you think that something should be here, 
      a(href='mailto:support@worldfly.info')&#32;please let us know: support@worldfly.info
      |.