extends errorlayout


block content
  .b-content-error
    |Internal Server Error

  .b-content-descr
    p.b-content-descr_item The server encountered an error.

    p.b-content-descr_item #{error}

    p.b-content-descr_item
      |Rather of all, we already know this, but you can still 
      a(href='mailto:support@worldfly.info')&#32;tell us about it: support@worldfly.info
      |.