@import '../main/styles/b-page'
@import '../main/styles/b-body'
@import '../main/styles/b-footer'

.b_page
  /*text-align center*/

  &__content
    text-align left

.b-body__content
  text-align center

.b-header
  text-align center

  &__link
    display inline-block

  &__content
    display inline-block
    max-width 1600px
    margin 0 auto
    width 100%
    text-align left

  &__title
    margin 0
    font-size 65pt

  &__text
    &_first
      margin-bottom 0


.b-list
  &__item
    padding 2em

    
.b-error
  color red