@import '../main/styles/b-page'
@import '../main/styles/b-body'
@import '../main/styles/b-footer'

.b-page
  /*text-align center*/
  font 13pt "Helvetica Neue", Helvetica, Arial, sans-serif

  &__content
    text-align left

.b-body__content
  text-align center

.b-header
  text-align center

  &__link
    display inline-block

  &__content
    display inline-block
    max-width 1600px
    margin 0 auto
    width 100%
    text-align left

  &__title
    margin 0
    font-size 5em

  &__text
    &_first
      margin-bottom 0

.b-list
  &__item
    border 1px dashed #F0F0F0
    text-align center
    padding 2em
    display inline-block

  &__desrc
    text-align left
    padding 0.5em
    font-size 1.5em

.b-error
  color red