<!DOCTYPE html>
<html>
<head lang="en">
    <!--<meta name="viewport" content="width=device-width,initial-scale=1" />-->
    <meta charset="UTF-8">
    <title>Contrast</title>
    <meta name="keywords"
          content="contrast, fine art, art, photo, photography, project, skhokhlov, worldfly, sergey, khokhlov, world, fly, purpose, composition, education, idea, edu, fine, library, photolibrary, foto, контраст, фото, фотографии, сергей, хохлов, сергейхохлов, идея, искусство, современный"/>
    <meta name="description"
          content="Circular and rectangular. Liquid ans solid. Black and white. Contrast. All of this we see everyday. And don't pay attention. Skipping past the images for which is possible to stop and enjoy the moment. The purpose of this project is show that every moment can be an extraordinary."/>
    <link rel="dns-prefetch" href="//farm9.staticflickr.com">
    <link rel="dns-prefetch" href="//farm8.staticflickr.com">
    <link rel="dns-prefetch" href="//farm7.staticflickr.com">
    <link rel="dns-prefetch" href="//farm6.staticflickr.com">
    <link rel="dns-prefetch" href="//farm5.staticflickr.com">
    <link rel="dns-prefetch" href="//farm4.staticflickr.com">
    <link rel="dns-prefetch" href="//farm3.staticflickr.com">
    <link rel="dns-prefetch" href="//farm2.staticflickr.com">
    <link rel="dns-prefetch" href="//farm1.staticflickr.com">
    <link href="//fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans&subset=latin" />-->
    <link rel="stylesheet" href="/public/contrast.css?hash=<%= hashContrastCss %>"/>
</head>
<body class="b-page">
<div class="b-header">
    <!--<div class="b-header__link">&#60;Back to world Fly</div>-->
    <div class="b-header__content">
        <p class="b-header__text b-header__text_first">Circular and rectangular. Liquid ans solid. Black and white.</p>

        <h1 class="b-header__title">Contrast.</h1>

        <p class="b-header__text">All of this we see everyday. And don't pay attention.</p>

        <p class="b-header__text">Skipping past the images for which is possible to stop and enjoy the moment.</p>

        <p class="b-header__text">The purpose of this project is show that every moment can be an extraordinary.</p>
    </div>
</div>

<div class="b-body">
    <div class="b-body__content">
        {content}
    </div>
</div>

<div class="b-footer">
    © <a href="//skhokhlov.github.io">Sergey Khokhlov</a>
</div>

<!--<script src="/public/contrast.js?hash=<%= hashContrastJs %>"></script>-->

<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter206275 = new Ya.Metrika({
                    id: 206275,
                    webvisor: true,
                    clickmap: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="//mc.yandex.ru/watch/206275" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>

</body>
</html>
