.logo
  color #000

.b-page_index
  //background-image url('//get.worldfly.org/storage/main/images/b-index-page.jpg?1')
  width 100%
  height 100%
  position absolute
  box-sizing border-box
  //-webkit-background-size cover
  //-moz-background-size cover
  //-o-background-size cover
  //background-size cover
  //background-position center
  margin 0
  padding 0

.b-page-index
  position absolute
  top 20%
  width 100%
  text-align center

.b-page-index__nav__link
  color #000
  padding-right 10px
  font-size 2em


.b-page-index__footer
  position: absolute
  bottom: 5px
  color: #000
  right: 30px

.b-page-index__footer__link, .b-page-index__footer__link:hover
  color: inherit

.b-logo_index
  margin: 0 auto

.b-logo__view_index
  margin: 0 auto
  width: 700px
  height: 200px
  background: url('//get.worldfly.org//storage/main/images/b-logo_index_black.svg') no-repeat

.b-page_content
  max-width 1600px
  text-align center
  margin 0 auto

  @media screen and (max-width: 600px)
    width 100%

.b-container
  text-align left

.b-content
  padding 1pt 0 1pt 25pt