.b-page
  //font 13pt 'EB Garamond', 'serif'
  font 13pt 'Open Sans', sans-serif



a
  color #08c
  text-decoration underline



.b-body
  max-width 1600px
  margin 0 auto
  text-align center

  &__content
    text-align left



.b-header
  height 55px

  &_home
    position absolute
    top 20%
    margin: 0 auto
    text-align center
    width 99%



.b-nav
  display inline-block
  padding: 0 0 3pt 10pt
  vertical-align: bottom

  &_home
    font-size 2em
    padding 0

  &__item
    display inline-block
    margin 1pt 5pt 1pt 1pt

  &__link
    padding 0 4.5pt

    &_active
      text-decoration none
      border-bottom 0 none
      color #000

  &_header
    display inline-block
    padding 0 0 3pt 10pt
    vertical-align bottom



.b-logo
  display inline-block

  &_home
    display block

  &_page
    width 150px

  &__image
    width 100%

    &_home
      max-width 700px
      display block
      margin 0 auto

    &_page
      width 150px

  &__slogan
    width 400px
    margin-top -35px
    max-width 100%



.b-list
  padding 0 15pt

  &__item

    &__title
      display inline-block

    &__years
      display inline-block
      padding-left 1.2em
      color #6C6C6C

      &__end
        &_big
          font-size 1.4em
          position absolute
          margin-top -0.2em

    &__desrc
      padding 0 9pt



.b-footer
  text-align right
  font-size 11pt

  &_home
    position absolute
    bottom 5px
    color #000
    right 30px



.b-loader
  position relative
  display inline-block
  overflow hidden
  -webkit-transform translate(0, 0)

  &__object
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background url('/public/images/loader.svg')
    background-size 100% 100%
    transform translateZ(0)
    animation spin 1s infinite linear
    width 100px
    height 100px

  &_f
    width 100px
    position absolute
    margin auto


@keyframes FadeOut
  0%
    opacity 1
  100%
    opacity 0

@keyframes FadeIn
  0%
    opacity 0
  100%
    opacity 1



@keyframes spin
  0%
    -webkit-transform rotate(0deg)
    -moz-transform rotate(0deg)
    -ms-transform rotate(0deg)
    -o-transform rotate(0deg)
    transform rotate(0deg)
  100%
    -webkit-transform rotate(360deg)
    -moz-transform rotate(360deg)
    -ms-transform rotate(360deg)
    -o-transform rotate(360deg)
    transform rotate(360deg)