body
  margin 0
  padding 0

.b-page
  font 13pt 'EB Garamond', 'serif'
  margin 0
  padding 0

a
  color #08c
  text-decoration underline



.b-header
  width 98%
  height 55px
  text-align left


@require 'index/index.styl'

@require 'projects/projects.styl'

