a
  color: #08c
  text-decoration: underline

  &:hover
    color: #3b5998


.b-page
  margin: 8px
  font: 400 1em "Helvetica Neue", Helvetica, Arial, sans-serif


.b-header
  &__logo
    display: inline-block

  &__link
    display: block
    width: 150px
    height: 40px

  &__name
    display: inline-block

    &__text
      font-weight: inherit
      position: relative
      top: -0.13em


.b-content
  padding: 0 6vw

  &__name
    font-weight: inherit

  &__descr
    padding: 0.8em 2vw


.b-footer
  color: #000
  text-align: right
  font-size: 0.9em
