a {
    color: #08c;
    text-decoration: underline;
}

a:hover {
    color: #3b5998;
}

.b-page {
    margin: 8px;
    font: 400 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.b-header__logo {
    display: inline-block;
}

.b-header__link {
    display: block;
    width: 150px;
    height: 40px;
}

.b-header__name {
    display: inline-block;
}

.b-header__name__text{
    font-weight: inherit;
    position: relative;
    top: -0.13em;
}

.b-content {
    padding: 0 6vw;
}

.b-content__name {
    font-weight: inherit;
}

.b-content__descr {
    padding: 0.8em 2vw;
}

.b-footer {
    color: #000;
    text-align: right;
    font-size: 0.9em;
}