.page {
  font: 400 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.link {
  color: #428bca;
  text-decoration: underline;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  padding: 1em;
  margin-top: 10%;
}

.logo {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  height: 33px;
  background: url(https://get.worldfly.org/brands/worldfly/logo_small.svg) no-repeat;
}

.title {
  font-weight: 400;
  font-size: 1.15em;
  margin: 1.5em 0;
}

.title__code {
  font-weight: 600;
}