.b-nav__item
  display inline-block
  margin 1pt 5pt 1pt 1pt

.b-nav__item__link_active
  text-decoration none
  border-bottom 0 none
  color #000

.b-nav_header
  display inline-block
  padding 0 0 3pt 10pt
  vertical-align bottom

.b-logo
  display inline-block

.b-footer
  text-align right